/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


main,
body,
p,
article,
div,
span,
h1,
h2,
h3,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

p {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.4;
}

.page-content {
    padding: 40px 16px 88px;
}

.page-title {
    text-align: center;
    font-size: 48px;
    line-height: 1.2;
}

.article-title {
    font-size: 32px;
    margin: 0 auto 32px;
    text-align: center;
    max-width: 400px;
}

.page-title__sub {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: 400;
    display: block;
    font-size: 32px;
    line-height: 1.3;
    color: #656565;
    max-width: 720px;
    margin: 24px auto 0;
}

.page-title__sub--hide {
    display: none;
}

.big-lead {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.87);
    max-width: 600px;
    margin: auto;
}

.round-divider {
    width: 80px;
    height: 1px;
    margin: 40px auto;
    background-color: red;
}

section {
    margin-top: 48px;
}

.show-list__case {
    background-color: #fff;
    margin: 0 auto 16px;
    padding-bottom: 22px;
    max-width: 600px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04),
        0 2px 4px rgba(0, 0, 0, 0.04),
        0 4px 8px rgba(0, 0, 0, 0.04),
        0 8px 16px rgba(0, 0, 0, 0.02),
        0 16px 32px rgba(0, 0, 0, 0.02),
        0 32px 64px rgba(0, 0, 0, 0.02);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04),
        0 2px 4px rgba(0, 0, 0, 0.04),
        0 4px 8px rgba(0, 0, 0, 0.04),
        0 8px 16px rgba(0, 0, 0, 0.02),
        0 16px 32px rgba(0, 0, 0, 0.02),
        0 32px 64px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}

.show-list__item-title {
    padding: 20px 20px 0;
    margin-bottom: 12px;
    max-width: 500px;
    font-size: 24px;
}

.show-list__item-description {
    color: #656565;
    padding: 0 20px 12px;
    
}

.show-list__item-description--title {
    color: rgba(0, 0, 0, 0.87);
}

.features-list__item-text {
    text-align: center;
    max-width: 300px;
    margin: 0 auto
}

.features-list__item-text--emoji {
    font-size: 44px;
    margin-bottom: 0;
}

.features-list__item {
    margin-bottom: 32px;
}

.cta-button {
    text-decoration: none;
    position: fixed;
    bottom: 16px;
    display: block;
    background-color: red;
    text-align: center;
    padding: 14px;
    border-radius: 32px;
    width: 200px;
    right: 50%;
    margin-right: -100px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.show-list__video {
    width: calc(100% + 32px);
    height: 300px;
    margin-left: -16px;
}